.login-card {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-items: center;
  width: 80%;
  text-align: center;
  padding: 2rem;
  margin: auto;
  background-color: var(--mat-app-background-color);
  border-radius: var(--mdc-outlined-card-container-shape);
}

.col {
  flex: 1;
  padding: 1rem;
}

.col:first-child {
  text-align: left;
  padding-left: 1rem;
}

.col:last-child {
  text-align: right;
  padding-left: 1rem;
}

.form-field {
  width: 100%;
}

.logo {
  width: 8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
  }

  .col {
    text-align: center;
    padding: 0;
  }

  .col:first-child {
    padding-bottom: 20px;
  }
}

.forgot-btn {
  display: block;
  text-align: left;
}
