<nav>
  <ul>
    <li>
      <a routerLink="">
        <img class="logo" src="/logo/logo-3.png" alt="Logo" />
      </a>
    </li>
    <li>
      <a
        mat-button
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Dashboard
      </a>
    </li>
    @for (item of navLinks; track $index) {
    <li>
      <a
        mat-button
        routerLink="{{ item.routerLink }}"
        routerLinkActive="active"
      >
        {{ item.name }}
      </a>
    </li>
    }
    <mat-divider></mat-divider>
    <li>
      <a mat-button> Sign In </a>
    </li>
  </ul>
</nav>
