<main>
  <mat-drawer-container class="main-container" autosize>
    <mat-drawer
      class="side-menu"
      [(opened)]="sideMenuVisible"
      [mode]="sideMenuMode"
    >
      <app-side-menu [navLinks]="navLinks" [autofocus]="false"></app-side-menu>
    </mat-drawer>

    <mat-drawer-content class="content-area">
      <div class="top-menu">
        <app-nav-bar
          [sideMenuVisible]="sideMenuVisible"
          (toggleSideMenu)="toggleSideMenuEvent($event)"
        ></app-nav-bar>
      </div>
      <div class="container">
        <router-outlet />
      </div>
      <footer>
        <app-footer></app-footer>
      </footer>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
